@import '../variables.scss';

.btn {
    background: transparent;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.55);
    min-height: 3em;

    &:hover{
        color: $almost-white;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: none;
    }

    i {
        margin-right: 0.5em;
    }
}