@media only screen and (max-width : 992px) {
    .collection {

        .collection-item {
            flex-direction: column;

            .collection-right {
                flex-direction: row;

                .btn {

                    i{
                        font-size: 2rem;

                    }
                }
            }
        }
    }
}