
.collection {

    .collection-item {

        &:last-child {
            margin-bottom: 0;
            
        }

        .collection-right {
            flex-direction: row;

            .btn {
                display: flex;
                align-items: center;
                margin: 0.5em;
                
            }
        }
    }
}

@media only screen and (max-width : 992px) {
    .collection {

        .collection-item {
            flex-direction: column;

            .collection-right {
                margin-top: 1em;

                .btn {
                    display: flex;
                    align-items: center;
                    margin: 0.5em;

                    i{
                        font-size: 2rem;

                    }
                }
            }
        }
    }
}