.request-row{
    border: 0;
    
    td:first-child,
    td:last-child{
        padding: 1em;
    }
        
    .request-description-cell{

        .request-description {    
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 24vw;
        }

        .expand-description {
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

    .request-action-cell {

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .request-action-button {
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    margin-left: 0.25em;

                }

                &:nth-child(2) {
                    margin-top: 1em;
                }
            }
        }
    }

    &:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

@media only screen and (max-width : 992px) {
    .request-row{

        .request-description-cell {

            .request-description {
                max-height: 60px;
    
            }

            .expand-description {
                display: flex;

                i {
                    transition: transform 0.5s;
                    margin-right: 0.5em;
                }

                .text-less {
                    display: none;
                }
            }

            &.display-less{
                
                .request-description{
                    max-height: fit-content;

                }

                i {
                    transform: rotate(180deg);
                }

                .text-more {
                    display: none;
                    
                }

                .text-less {
                    display: initial;
                    
                }
            }
        }
    }
}