.request-row{
    border: 0;
    
    td:first-child,
    td:last-child{
        padding: 1em;
    }
        
    .request-description-cell{

        .request-description {
            display: inline-block;
            overflow: auto;
            max-width: 24vw;
            max-height: 300px;

        }
    }

    .request-approvals-cell {
        text-align: center;

        &:nth-child(2) {
            margin-top: 1em;
            
        }
    }

    .request-action-cell {

        .request-actions-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .request-action {
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    margin-left: 0.25em;

                }

                &:nth-child(2) {
                    margin-top: 1em;
                }
            }
        }
    }

    &:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

@media only screen and (max-width : 992px) {
    .request-row{

        .request-description-cell {

            .request-description {
                max-height: 120px;
                min-width: 120px;

            }
        }
    }
}