#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-size: 1.05rem;
    
    #pages-wrapper {
        overflow: auto;
        flex-grow: 1;
        transition: opacity 0.2s;
    }

    &.loading {

        #pages-wrapper {
            opacity: 0;

        }
    }
}