.new-campaign {
    
    .campaign-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        .helper-text {
            display: none;
        }

        .character-counter {
            min-width: 1px;
        }
    }
    
    .btn {
        width: 100%;
    }

    .form-footer {
        margin: 1em 0 1em 0;

        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            
            i {
                margin-right: 0.5em;
            }
        }
    }
}